# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/

# Virtual envs
venv/
.venv/
ENV/

# Scripts directory (virtual environment executables)
Scripts/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs & sqlite
*.log
*.db
*.db-*
*.sqlite3
freelancex.db*
*.sqlite

# Env files and secrets
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
lib/
.lib/

# OS
.DS_Store

# Other
.cursorrules
.cursorignore
.cursorignore.md